.pane {
  display: none;
}
html {
  margin: 0;
  padding: 0;
  overflow: auto;
}
body {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  background: Black;
  overflow: auto;
}
#container {
  padding: 0;
  margin: 0;
}
#status-bar {
  height: 25px;
  border-top: solid 1px black;
  background: LightGray;
}
#status {
  font-size: 16px;
}
#graphics-pane {
  padding: 0;
  margin: 0;
}
#property-explorer {
  padding: 0;
}
#diagram {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid 1px black;
}
